td button {
  width: 100%;
  background-color: green;
  opacity: 0.5;
}

table {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#calculator-container {
  text-align: center;
  width: 25%;
}
